body {
    background-color: #000;
    font-family: DeterminationSansWeb;
    color: #ffffff;
    text-align: center;
}

/* importing font used in other projects (mainly mouse following rat) */
@font-face {
    font-family: "DeterminationSansWeb";
    src: url("../mouse_move/fonts/DeterminationSansWeb.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.central {
    position: relative;
    margin: 5% auto;
    text-align: center;
    border: 7px solid #fff;
    width: 80%;
    padding: 20px;
}

.contain_center{
    text-align: left;
    position: relative;
    left:10%;
    width: 80%;
}

.central p{
    font-size: 20px;
    display: inline-block;
}


.hue_shifted_red {
    font-size: 20px;
    color: #ff5555;
    font-weight: bold;
}

/* center buttons */
.button-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

/* button styling */
.Play, .credits {
    font-size: 24px;
    border: 7px solid #fff;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

a {
    text-decoration: none;
    color: #fff;
}

.Play:hover, .credits:hover {
    background-color: #333;
}