<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status do Post</title>
    <link href="../style.css" rel="stylesheet">
    <link href="../blog/blogstyle.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Status da Publicação</h1>
        
        <p class="status-message">**<%= resposta %>**</p>
        
        <p style="margin-top: 30px;"><a href="/blog">Ver Blog</a></p>
        <p><a href="/cadastrar_post">Criar Outro Post</a></p>
    </div>
</body>
</html>