<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resposta Cadastro</title>
    <link href="../style.css" rel="stylesheet">
    <link href="../login/LCstyle.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Dados de Cadastro Recebidos:</h1>

    <p>Username: **<%= username %>** </p>
    <p>Password: **<%= password %>** </p>
    
    <p style="margin-top: 30px;"><a href="/cadastra">Fazer Outro Cadastro</a></p>
    <p><a href="/login">Ir para o Login</a></p>
</div>
</body>
</html>