.navbar{
    position: fixed;
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    left: 50%;
    top:20px;
    transform: translate(-50%, -50%);
    z-index: 9000;;
}

.navbar div {
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
    color: rgb(232, 204, 245);
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-bottom: #673c7374 solid 2px
}

.navbar div:hover {
    background-color: rgba(192, 232, 255, 0.256);
}

.navbar a {
    text-decoration: none;
    color: rgb(232, 204, 245);
}

body {
  font-family: Delta, Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: background-color 0.4s ease;
}

h1{
  padding: 10%;
  color: rgb(232, 204, 245);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.guess_cont {
  background-color: rgb(36, 39, 61); 
  border: 2px solid rgba(232, 204, 245, 0.2);
  border-radius: 30px;
  padding: 10% 20px;
  text-align: center;
  color: rgb(232, 204, 245);
  box-shadow: 0 0 20px rgba(155, 101, 205, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.guess_cont input{
  padding: 10px;
  font-size: 18px;
  text-align: center;
  width: 120px;
  border-radius: 8px;
  border: 1px solid rgba(232, 204, 245, 0.4);
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(232, 204, 245);
}

button {
  margin-top: 15px;
  padding: 13px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(155, 101, 205);
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover {
  background-color: rgb(183, 133, 235);
  transform: scale(1.01);
}

#message {
  margin-top: 20px;
  font-weight: bold;
  color: rgb(232, 204, 245);
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 39, 61); 
  z-index: -1;
  transition: background-color 0.4s ease;
}